<div>
  <center>
  <% if @name %>
      <% $players += 1 %>
      <% if @name != "" %>
        <b><u>Hello, <%= @name %></u></b>
        <% session["player#{$players}"] = @name %>
      <% else %>
        <b><u>Hello, <%= session["player#{$players}"] = "Player #{$players}" %></u></b>
      <% end %>
    <br><a href="/play">VS Computer</a>
    <br><a href="/pvp">PVP Local</a>
    <br><a href="/online">PVP Online</a>
    <% else %>
      <h2> Let's get started - What's your name? </h2>
      <form action="/name_set">
        <input type="text" name="name">
        <input type="submit" value ="Submit">
      </form>
    <% end %>
  </center>
</div>
