<div>
  <center>
    Please select ship location.
    <pre> 
    <% if @player == session[:p1] %>
      <%= $game.own_board_view(($game).player_1) %>
    <% else %>
      <%= $game.own_board_view(($game).player_2) %> 
    <% end %>
    </pre><br>
    <% if !(@p).include?(:destroyer) && (@player == session[:p1]) %>
      <form action="/online/p1place" method="post">
    <% elsif !(@p).include?(:destroyer) && (@player == session[:p2]) %>
      <form action="/online/p2place" method="post">
    <% elsif @player == session[:p1] %>
      <form action="/online/playp1" method="post"> 
    <% elsif @player == session[:p2] %>
      <form action="/online/playp2" method="post">
    <% end %>

      <% if !(@p).include?(:aircraft_carrier)%>
        Aircraft Carrier: 
      <% elsif !(@p).include?(:battleship) %>
        Battleship: 
      <% elsif !(@p).include?(:cruiser) %>
        Cruiser: 
      <% elsif !(@p).include?(:destroyer) %>
        Destroyer: 
      <% else %>
        Submarine: 
      <% end %>
      <input type="text" name="location">
      <select name="direction">
      <option value = "horizontally">horizontally</option>
      <option value = "vertically">vertically</option>
      </select><br>
      <input type="submit" value ="Place">      
    </form>
      </center>
    </div>