<div>
  <center>
    "Who will fire first?"
    <br> 
    <a href='/pvp/play/p1turn'><button type="button"><%=session[:player1]%></button></a>
    <a href='/pvp/play/p2turn'><button type="button"><%=session[:player2]%></button></a>
  </center>
</div>